<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grandParent</key>
	<array>
		<dict>
			<key>grandParentName</key>
			<string>Date of trip 1</string>
			<key>Expense</key>
			<string>Rp. x0.000.000</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Category 1</string>
					<key>Expenses</key>
					<string>Rp. y0.000.000</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>Chris</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>Kwa</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>User 3</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Category 2</string>
					<key>Expenses</key>
					<string>Rp. y0.000.000</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>User 1</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>User 2</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>bike</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Category 3</string>
					<key>Expenses</key>
					<string>Rp. y0.000.000</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>User 1</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>User 2</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>bike</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Category 4</string>
					<key>Expenses</key>
					<string>Rp. y0.000.000</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>User 1</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>User 2</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>bike</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>User 3</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Date of trip 2</string>
			<key>Expense</key>
			<string>Rp. x0.000.000</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Category 1</string>
					<key>Expenses</key>
					<string>Rp. y0.000.000</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>User 1</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>User 2</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Category 2</string>
					<key>Expenses</key>
					<string>Rp. y0.000.000</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>User 1</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>User 2</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Category 3</string>
					<key>Expenses</key>
					<string>Rp. y0.000.000</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>User 1</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>green</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>grandParentName</key>
			<string>Date of trip 3</string>
			<key>Expense</key>
			<string>Rp. x0.000.000</string>
			<key>parent</key>
			<array>
				<dict>
					<key>parentName</key>
					<string>Category 1</string>
					<key>Expenses</key>
					<string>Rp. y0.000.000</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>User 1</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>User 2</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>parentName</key>
					<string>Category 2</string>
					<key>Expenses</key>
					<string>Rp. y0.000.000</string>
					<key>child</key>
					<array>
						<dict>
							<key>childName</key>
							<string>User 1</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>car</string>
						</dict>
						<dict>
							<key>childName</key>
							<string>User 2</string>
							<key>Expensess</key>
							<string>Rp. z0.000.000</string>
							<key>toyName</key>
							<string>bike</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
